@use "sass:math";
@import "./styles/_vars";
@import "./styles/_mixins";
@import "./styles/_grid";

// font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// css vars
:root {
  --col-gutter-x: 1rem;
  --col-gutter-y: 0rem;
  @include mediaOver("md") {
    --col-gutter-x: 1.5rem;
    --col-gutter-y: 0rem;
  }
}

// styles
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $color-main-primary;
  color: $color-main-secondary;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 1.5rem;
  --main-margin-x: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osxfont-smoothing: grayscale;
  @include mediaOver("lg") {
    --main-margin-x: 3%;
  }
}
nav {
  background-color: $color-main-secondary;
  color: $color-main-primary;
  padding: 1.5rem 2.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d {
  &-flex {
    display: flex;
  }
}
.text {
  &-right {
    text-align: right;
  }
}
.ChatPage {
  main {
    height: calc(100vh - 55px); // navbar is 55px tall
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.user {
  &--micBtn {
    border-radius: 500%;
    width: 100%;
    aspect-ratio: 1;
    border: none;
    background-color: #fd574d;
    color: $color-main-secondary;
  }
}
.justify-content {
  &-center {
    justify-content: center;
  }
}
.feather {
  &-mic {
    height: 12rem;
    width: 12rem;
  }
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.text {
  &-center {
    text-align: center;
  }
}
img {
  width: 100%;
  max-width: 100%;
}
audio {
  margin: $spacing-2 0;
}
