.AIPortrait {
  height: 200px;
  width: 200px;
  border-radius: 500%;
  border: 2px solid transparent;
  &-thinking {
    border-color: orange;
  }
  &-responding {
    border-color: greenyellow;
  }
}
