@import "./styles/_vars";
@import "./styles/_mixins";
@import "./styles/_grid";

// font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

// styles
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $color-main-primary;
  color: $color-main-secondary;
  --main-margin-x: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osxfont-smoothing: grayscale;
  @include mediaOver("lg") {
    --main-margin-x: 3%;
  }
}
nav {
  background-color: $color-main-secondary;
  color: $color-main-primary;
  padding: 1.5rem 2.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
